<div class="news">
   {{#each cat}}
      <h2>{{this}}</h2>
   {{/each}}
   <ul>
      {{#each news}}
         <li>{{this}}</li>
      {{/each}}
   </ul>
</div>

<div class="news">
   {{#each cat}}
      <h2>{{this.cat}}</h2>
   <ul>
      {{#each this.news}}
         <li>{{this}}</li>
      {{/each}}
   </ul>
   {{/each}}
</div>