<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Agenda | Sign up</title>
   <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap&subset=cyrillic" rel="stylesheet">
   <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
   <main class="login__container">
      <div class="login__block login__block_sign-up">
         <img src="/images/logo-mono.png" alt="Agenda" class="logo_mono">
         <h1>Create your account</h1>
         <div class="login__error"></div>
         <form action="/sign_up" method="POST" class="login__sign-up">
            <input type="text" name="username" id="username" placeholder="Username *" class="login__input" required>
            <input type="text" name="firstName" id="firstName" placeholder="First name" class="login__input">
            <input type="text" name="lastName" id="lastName" placeholder="Last name" class="login__input">
            <input type="email" name="mail" id="mail" placeholder="E-mail *" class="login__input" required>
            <input type="password" name="password" id="password" placeholder="Password *" class="login__input" required>
            <button type="submit" class="login__button">Submit</button>
         </form>
         <p class="login__text">* required fields</p>
      </div>
   </main>
</body>
</html>